# Core functionality - changes here should be rare!
/src/app.py                   @juan-castrillon
/src/backend/database.py      @juan-castrillon
/src/backend/routers/auth.py  @juan-castrillon

# The frontend will need refactored soon to be more object oriented.
/src/static/   @juan-castrillon
